<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sticky notes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container col-md-6 offset-md-3">
    <!-- Header -->
    <div class="row mt-3">
        <h2 th:text="'Sticky Notes'">Sticky Notes</h2>
    </div>

    <!-- TodoNotes display -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Today:</p>
        </div>

        <!-- table -->
        <div class="col table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-4">Task</th>
                    <th scope="col" class="col-6">Description</th>
                    <th scope="col" class="col-1">Category</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:remove="all">
                        <td>Leetcode</td>
                        <td>1 hard 3 medium</td>
                        <td>Study</td>
                        <td><input type="checkbox"/></td>
                    </tr>

                    <!--@thymesVar id="todoNote" type="bht.salvinto.stickynotes.domain.TodoNote"-->
                    <tr th:each="todoNote : ${todoNotes}">
                        <td th:text="${todoNote.title}" >Wash Clothes</td>
                        <td th:text="${todoNote.description}" class="text-wrap">Wash all the clothes in the morning
                            so that they could be dry before dinner</td>
                        <td th:text="${todoNote.category.capitalizedName()}">Household</td>
                        <td><input type="checkbox"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PlainNotes display -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Thoughts:</p>
        </div>

        <!-- table -->
        <div class="col table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-4">Title</th>
                        <th scope="col" class="col-8">Description</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                    <tr th:remove="all">
                        <td>Wanna Rest</td>
                        <td>It's time to kaibai!</td>
                    </tr>

                    <!--@thymesVar id="plainNote" type="bht.salvinto.stickynotes.domain.PlainNote"-->
                    <tr th:each="plainNote : ${plainNotes}">
                        <td th:text="${plainNote.title}">The Signifier of Elysium</td>
                        <td th:text="${plainNote.description}" class="text-wrap">The motivation that drives our subconsciousness</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Draft area -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Draft:</p>
        </div>

        <div class="col table-responsive">
            <div class="row row-cols-1">
                <a href="#" class="col" th:href="@{/dashboard/create-todonote}"
                   th:if="${isCreatingNote} != null ? not ${isCreatingNote} : true">Create a todo note +</a>

                <!-- TodoNote creating form -->
                <!--/*@thymesVar id="todoNoteCommand" type="bht.salvinto.stickynotes.commands.TodoNoteCommand"*/-->
                <div class="col" th:if="${isCreatingNote} ?: false">
                    <form method="post" th:action="@{/dashboard/submit-todonote}" th:object="${todoNoteCommand}">
                        <!-- hidden input for persistence -->
                        <input type="hidden" th:field="*{id}">

                        <div class="row mt-3 row-cols-2 gy-1">
                            <div class="col-4">
                                <label for="todoNoteTitle" class="form-label">Task: </label>
                                <input id="todoNoteTitle" type="text" class="form-control" pattern=".*\S+.*" required
                                       th:field="*{title}"/>
                            </div>

                            <div class="col-2">
                                <label for="categoryDropdown" class="form-label">Category: </label>
                                <select id="categoryDropdown" type="drop" class="form-control" th:field="*{category}">
                                    <option th:remove="all">Work</option>
                                    <option th:each="category : ${T(bht.salvinto.stickynotes.domain.Category).values()}"
                                            th:value="${category}" th:text="${category.capitalizedName()}">Study</option>
                                </select>
                            </div>


                            <div class="col-10">
                                <label for="todoNoteDescription" class="form-label">Description: </label>
                                <input id="todoNoteDescription" type="text" class="form-control" th:field="*{description}"/>
                            </div>
                            <!-- todo: category dropdown -->
                            <!-- todo: deadline input -->
                        </div>

                        <div class="row mt-3">
                            <div class="col col-2 offset-10 d-grid gap-2">
                                <button class="btn btn-outline-success">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
