<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sticky notes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>

<!--/*@thymesVar id="todoNoteState" type="bht.salvinto.stickynotes.ui.states.TodoNoteState"*/-->
<!--/*@thymesVar id="plainNoteState" type="bht.salvinto.stickynotes.ui.states.PlainNoteState"*/-->
<body>
<div class="container col-md-6 offset-md-3">
    <!-- Header -->
    <div class="row mt-3">
        <h2 th:text="'Sticky Notes'">Sticky Notes</h2>
    </div>

    <!-- TodoNotes display -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Today:</p>
        </div>

        <!-- table -->
        <div class="col table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-4">Task</th>
                    <th scope="col" class="col-6">Description</th>
                    <th scope="col" class="col-1">Category</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:remove="all">
                        <td>Leetcode</td>
                        <td>1 hard 3 medium</td>
                        <td>Study</td>
                        <td><input type="checkbox"/></td>
                    </tr>

                    <!--@thymesVar id="todoNote" type="bht.salvinto.stickynotes.domain.TodoNote"-->
                    <tr th:each="todoNote : ${todoNotes}">
                        <td th:text="${todoNote.title}" >Wash Clothes</td>
                        <td th:text="${todoNote.description}" class="text-wrap">Wash all the clothes in the morning
                            so that they could be dry before dinner</td>
                        <td th:text="${todoNote.category.capitalizedName()}">Household</td>
                        <td th:switch="${todoNoteState == null ? 'DEFAULT' : todoNoteState.name()}">
                            <a href="#" th:case="'DELETE'"
                                    th:href="@{'/dashboard/todonotes/' + ${todoNote.id} + '/delete'}">delete</a>
                            <a href="#" th:case="'EDIT_SELECT'"
                               th:href="@{'/dashboard/todonotes/' + ${todoNote.id} + '/edit'}">edit</a>
                            <input type="checkbox" th:case="*"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PlainNotes display -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Notes:</p>
        </div>

        <!-- table -->
        <div class="col table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-4">Title</th>
                        <th scope="col" class="col-7">Description</th>
                        <th scope="col" class="col-1"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                    <tr th:remove="all">
                        <td>Wanna Rest</td>
                        <td>It's time to kaibai!</td>
                        <td></td>
                    </tr>

                    <!--@thymesVar id="plainNote" type="bht.salvinto.stickynotes.domain.PlainNote"-->
                    <tr th:each="plainNote : ${plainNotes}">
                        <td th:text="${plainNote.title}">The Signifier of Elysium</td>
                        <td th:text="${plainNote.description}" class="text-wrap">The motivation that drives our subconsciousness</td>
                        <td th:switch="${plainNoteState == null ? 'DEFAULT' : plainNoteState.name()}">
                            <a href="#" th:case="'DELETE'"
                               th:href="@{'/dashboard/plainnotes/' + ${plainNote.id} + '/delete'}">delete</a>
                            <a href="#" th:case="'EDIT_SELECT'"
                               th:href="@{'/dashboard/plainnotes/' + ${plainNote.id} + '/edit'}">edit</a>
                            <div th:case="*"></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Action -->
    <div class="row row-cols-1 rounded-3 gy-2 mt-3 py-3 px-2 bg-light">
        <div class="col">
            <p class="h4">Actions:</p>
        </div>

        <div class="col" th:if="${todoNoteState == null ? true : todoNoteState.name() == 'DEFAULT'}
                and ${plainNoteState == null ? true : plainNoteState.name() == 'DEFAULT'}">
            <div class="row row-cols-1 gy-2">
                <a href="#" class="col" th:href="@{/dashboard/todonotes/create}">Create a task +</a>
                <a href="#" class="col" th:href="@{/dashboard/todonotes/delete}">Delete a task</a>
                <a href="#" class="col" th:href="@{/dashboard/todonotes/edit}">Edit a task</a>
            </div>
            <div class="row row-cols-1 gy-2 mt-3">
                <a href="#" class="col" th:href="@{/dashboard/plainnotes/create}">Create a note +</a>
                <a href="#" class="col" th:href="@{/dashboard/plainnotes/delete}">Delete a note</a>
                <a href="#" class="col" th:href="@{/dashboard/plainnotes/edit}">Edit a note</a>
            </div>
        </div>

        <div class="col" th:if="${todoNoteState == null ? false : todoNoteState.name() == 'CREATE' or todoNoteState.name() == 'EDIT_FILL'}">
            <!-- TodoNote creating form -->
            <!--/*@thymesVar id="todoNoteCommand" type="bht.salvinto.stickynotes.commands.TodoNoteCommand"*/-->
            <form method="post" th:action="@{/dashboard/todonotes/submit}" th:object="${todoNoteCommand}">
                <!-- hidden input for persistence -->
                <input type="hidden" th:field="*{id}">

                <div class="row row-cols-2 gy-2">
                    <div class="col-4">
                        <label for="todoNoteTitle" class="form-label">Task: </label>
                        <input id="todoNoteTitle" type="text" class="form-control" pattern=".*\S+.*" required
                               th:field="*{title}"/>
                    </div>

                    <div class="col-2">
                        <label for="categoryDropdown" class="form-label">Category: </label>
                        <select id="categoryDropdown" type="drop" class="form-control" th:field="*{category}">
                            <option th:remove="all">Work</option>
                            <option th:each="category : ${T(bht.salvinto.stickynotes.domain.Category).values()}"
                                    th:value="${category}" th:text="${category.capitalizedName()}">Study</option>
                        </select>
                    </div>

                    <div class="col-10">
                        <label for="todoNoteDescription" class="form-label">Description: </label>
                        <input id="todoNoteDescription" type="text" class="form-control" th:field="*{description}"/>
                    </div>
                    <!-- todo: category dropdown -->
                    <!-- todo: deadline input -->
                </div>

                <div class="row mt-3">
                    <div class="col col-2 offset-10 d-grid gap-2">
                        <button class="btn btn-outline-success">Submit</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col" th:if="${plainNoteState == null ? false : plainNoteState.name() == 'CREATE' or plainNoteState.name() == 'EDIT_FILL'}">
            <!-- PlainNote creating form -->
            <!--/*@thymesVar id="plainNoteCommand" type="bht.salvinto.stickynotes.commands.PlainNoteCommand"*/-->
            <form method="post" th:action="@{/dashboard/plainnotes/submit}" th:object="${plainNoteCommand}">
                <!-- hidden input for persistence -->
                <input type="hidden" th:field="*{id}">

                <div class="row row-cols-2 gy-2">
                    <div class="col-4">
                        <label for="plainNoteTitle" class="form-label">Task: </label>
                        <input id="plainNoteTitle" type="text" class="form-control" pattern=".*\S+.*" required
                               th:field="*{title}"/>
                    </div>

                    <div class="col-10">
                        <label for="plainNoteDescription" class="form-label">Description: </label>
                        <textarea id="plainNoteDescription" class="form-control" th:field="*{description}"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-2 offset-10 d-grid gap-2">
                        <button class="btn btn-outline-success">Submit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
</body>
</html>
